{% extends "layout.html" %}

{% block title %}
{{book.title}} - Details
{% endblock %}

{% block body %}
<h1>{{book.title}} - Details</h1>

{% if not book.rating %}
<a href="{{url_for('review', isbn=book.isbn)}}" class="btn btn-primary">Add Review</a>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <td>{{book.title}}</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Author</th>
            <td>{{book.name}}</td>
        </tr>
        <tr>
            <th>Year</th>
            <td>{{book.year}}</td>
        </tr>
        <tr>
            <th>ISBN</th>
            <td>{{book.isbn}}</td>
        </tr>
        {% if goodreads_average_rating %}
        <tr>
            <th>Goodreads Average Rating</th>
            <td>{{goodreads_average_rating}}</td>
        </tr>
        {% endif %}
        {% if goodreads_ratings_count %}
        <tr>
            <th>Goodreads Ratings Count</th>
            <td>{{goodreads_ratings_count}}</td>
        </tr>
        {% endif %}
    </tbody>
</table>

    {% if book.rating %}
        <h3>
            {% if book.review_title %}{{book.review_title}}{% else %}Your Review{% endif %}
        </h3>

        <p>Your Rating: {{book.rating}}</p>

        {% if book.review %}
        <p>{{book.review}}</p>
        {% endif %}
    {% endif %}

{% endblock %}